/* EventList.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.EventList-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.EventList-title {
  text-align: center;
  font-size: 2.5em;
  color: #e74c3c;
  margin-bottom: 20px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.event-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.event-detail {
  font-size: 1em;
  margin-bottom: 8px;
  color: #555;
}

.back {
  text-align: center;
  margin-top: 30px;
}

.Event-back-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.Event-back-button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}
