.Home-grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu image image image image image";
  gap: 10px;
  grid-template-rows: auto 1fr;
  background-color: #f9f9f9;
  padding: 20px;
  height: 100vh;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.image {
  grid-area: image;
}

.item1 {
  grid-area: header;
  text-align: center;
  padding: 30px;
}

.item1 h1 {
  font-size: 3em;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.event {
  color: #e63946; /* Fin rød farge */
  font-weight: bold;
  font-family: "Arial Black", sans-serif;
}

.logger {
  color: #000; /* Svart farge */
  font-family: "Courier New", Courier, monospace; /* Litt annerledes stil */
  font-weight: normal;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.Home-menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Sentrerer knappene horisontalt */
}

.Home-menu-buttons button {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.Home-menu-buttons button:hover {
  background-color: #0056b3;
}

.image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px; /* Gir bildet avrundede hjørner */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Lett skygge rundt bildet */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.overlay h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2em;
}

.Admin-login {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 300px;
}

.Admin-login h2 {
  margin-bottom: 1rem;
}

.Admin-login input {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.Admin-login button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 0.5rem;
}
