body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content";
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.header .event {
  color: #e74c3c;
}

.button-group {
  grid-area: nav;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-group button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.button-group button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.button-group .active {
  background-color: #c0392b;
  font-weight: bold;
}

.org-back-home-button {
  margin-left: auto;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.org-back-home-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.content {
  grid-area: content;
}

.form-group {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title-group,
.description-group {
  margin-top: 20px;
}

.title-group h2,
.description-group h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}
